footer {
  background-image: url("/assets/images/footer-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  position: relative;
  width: 100%;
  height: 100px;
  padding: 10px 0;
}

.copyright {
  position: absolute;
  top: 55%;
  left: 50%;
  width: 90%;
  color: #ffffff;
  text-align: center;
  margin: 0;
  padding: 0;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

@media(min-width: 1000px) {
  .copyright {
    top: 60%;
  }
}

@media(min-width: 1300px) {
  .copyright {
    top: 70%;
  }
}

@media(min-width: 1600px) {
  footer {
    height: 150px;
  }

  .copyright {
    top: 75%;
  }
}
