.bg-brand {
  background-color: #50c6d8;
}

.navbar-toggler {
  outline: 0;
}

.navbar-nav .nav-link {
  padding: 15px;
  font-size: 1.2em;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
}

.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  color: #202020;
  background: #f1f1f1;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  color: #555555;
  background: #f1f1f1;
}

@media(min-width:767px) {
  .navbar {
    padding: 0 0 0 10px;
  }
}
