<nav class="navbar fixed-top navbar-expand-md navbar-light bg-brand shadow mb-1">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
    aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#">LRC</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"><i class="fa fa-home fa-lg"></i>&nbsp;&nbsp;Home <span
            class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-address-book fa-lg"></i>&nbsp;&nbsp;Contact <span
              class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-users fa-lg"></i>&nbsp;&nbsp;About <span
              class="sr-only"></span></a>
        </li>
      </ul>
    </form>
  </div>
</nav>
