<section class="banner">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="alert alert-warning shadow">
          <p class="message-for-user mb-0">Use this personal loan repayment calculator to work out daily, weekly,
            monthly, yearly (and more) repayment and
            interest figures for personal loans, student loans or any other type of credit agreement. This calculator
            breaks
            down repayments with date and the interest part individually according to the user input on repayment date
            selection along with the number of installment required. Its also represent total interest and total
            repayment amount</p>
        </div>
        <div class="card mt-3 shadow-lg">
          <h5 class="alert alert-primary border-0 rounded-0">
            Loan Repayment Calculator
          </h5>
          <div class="card-body">
            <div class="row">

              <!-- Calculation Section-->

              <div class="col-12 col-md-6">
                <form #loanForm="ngForm" (ngSubmit)="loanCalculation(loanForm)">
                  <div class="form-group">
                    <label for="currency">
                      <h6 class="text-primary">Choose Currency</h6>
                    </label>
                    <div class="input-group" title="Option Not Available now!">
                      <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fa fa-money"></i></div>
                      </div>
                      <select class="form-control" name="currency" ngModel required
                        (ngModelChange)="selectedCurrencyName($event)" disabled>
                        <option value="" disabled>Euro (&euro;)</option>
                        <option *ngFor="let c of currencyList" [ngValue]="c.value">
                          {{ c.name }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="loanAmount">
                      <h6 class="text-primary">Loan Amount</h6>
                    </label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fa fa-euro"></i></div>
                      </div>
                      <input
                        [ngStyle]="{'border-color':(loanAmount.errors && (loanAmount.dirty || loanAmount.touched)) == true ? 'red':'#ced4da'}"
                        ngModel #loanAmount="ngModel" name="loanAmount" type="text" class="form-control"
                        placeholder="Enter Loan Amount (ex. 1000)" required pattern="[1-9][0-9]*" minlength="3"
                        maxlength="10">
                    </div>
                    <div *ngIf="loanAmount.errors && (loanAmount.dirty || loanAmount.touched)">
                      <small class="form-text text-danger" *ngIf="loanAmount.errors.required">Required</small>
                      <small class="form-text text-danger" *ngIf="loanAmount.errors.pattern">Invalid Number</small>
                      <small class="form-text text-danger"
                        *ngIf="loanAmount.errors.minlength || loanAmount.errors.maxlength">
                        Must be 3 to 10 characters</small>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="interestRate">
                      <h6 class="text-primary">Interest Rate (per annum)</h6>
                    </label>
                    <div class="input-group">
                      <input
                        [ngStyle]="{'border-color':(interestRate.errors && (interestRate.dirty || interestRate.touched)) == true ? 'red':'#ced4da'}"
                        ngModel #interestRate="ngModel" name="interestRate" type="text" class="form-control"
                        placeholder="Enter Annual Interest Rate in Percentage (ex. 25)" required pattern="[1-9][0-9]*"
                        minlength="1" maxlength="3">
                      <div class="input-group-append">
                        <div class="input-group-text">%</div>
                      </div>
                    </div>
                    <div *ngIf="interestRate.errors && (interestRate.dirty || interestRate.touched)">
                      <small class="form-text text-danger" *ngIf="interestRate.errors.required">Required</small>
                      <small class="form-text text-danger" *ngIf="interestRate.errors.pattern">Invalid Number</small>
                      <small class="form-text text-danger"
                        *ngIf="interestRate.errors.minlength || interestRate.errors.maxlength">
                        Must be 1 to 3 characters</small>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="loanPeriod">
                      <h6 class="text-primary">Loan Period (in months)</h6>
                    </label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                      </div>
                      <input
                        [ngStyle]="{'border-color':(loanPeriod.errors && (loanPeriod.dirty || loanPeriod.touched)) == true ? 'red':'#ced4da'}"
                        ngModel #loanPeriod="ngModel" name="loanPeriod" type="text" class="form-control"
                        placeholder="Enter Loan Period (only in months)" required
                        (ngModelChange)="givenLoanPriod(loanPeriod)" pattern="[1-9][0-9]*" minlength="1" maxlength="3">
                    </div>
                    <div *ngIf="loanPeriod.errors && (loanPeriod.dirty || loanPeriod.touched)">
                      <small class="form-text text-danger" *ngIf="loanPeriod.errors.required">Required</small>
                      <small class="form-text text-danger" *ngIf="loanPeriod.errors.pattern">Invalid Number</small>
                      <small class="form-text text-danger"
                        *ngIf="loanPeriod.errors.minlength || loanPeriod.errors.maxlength">
                        Must be 1 to 3 characters</small>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="repaymentDate">
                      <h6 class="text-primary">Choose Loan Repayment Date</h6>
                    </label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                      </div>
                      <select class="form-control" name="repaymentDate" ngModel required
                        (ngModelChange)="selectedRepaymentDate($event)">
                        <option value="" disabled>Loan Repayment Date</option>
                        <option *ngFor="let rd of repaymentDateList" [ngValue]="rd.value">
                          {{ rd.name }}
                        </option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group text-right">
                    <button [disabled]="loanForm.invalid || repaymentDateChanged" type="submit"
                      class="btn btn-success"><i class="fa fa-calculator"></i>&nbsp;Calculate</button>
                  </div>
                </form>
              </div>

              <!-- Results Sections -->

              <div class="col-12 col-md-6">
                <div class="alert alert-success mb-2">
                  <h5 class="text-center mb-0">Number Of Installment(s): <b>{{numberOfInstallment}}</b></h5>
                </div>
                <div class="row text-center">
                  <div class="col-6 col-lg-4">
                    <div class="border">
                      <div class="alert alert-sm alert-secondary mb-0 rounded-0">
                        <h6 class="mb-0"><b>Total Loan</b></h6>
                      </div>
                      <h5 class="text-secondary mt-1">
                        <i class="fa fa-euro fa-xs"></i>&nbsp;<b>{{totalLoanAmount}}</b>
                      </h5>
                    </div>
                  </div>
                  <div class="col-6 col-lg-3 interest-column">
                    <div class="border">
                      <div class="alert alert-sm alert-secondary mb-0 rounded-0">
                        <h6 class="mb-0"><b>Total Interest</b></h6>
                      </div>
                      <h5 class="text-secondary mt-1">
                        <i class="fa fa-euro fa-xs"></i>&nbsp;<b>{{totalInterestAmount}}</b>
                      </h5>
                    </div>
                  </div>
                  <div class="col-12 col-lg-5">
                    <div class="border">
                      <div class="alert alert-sm alert-secondary mb-0 rounded-0">
                        <h6 class="mb-0"><b>Total Repaid</b></h6>
                      </div>
                      <h5 class="text-secondary mt-1">
                        <i class="fa fa-euro fa-xs"></i>&nbsp;<b>{{totalToBePaid}}</b>
                      </h5>
                    </div>
                  </div>
                </div>
                <div class="installment-list text-center mt-2">
                  <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                      <tr>
                        <th>Next Installment Date</th>
                        <th>Installment Amount</th>
                        <th>Interest Amount</th>
                      </tr>
                    </thead>
                    <tbody class="font-weight-bold">
                      <tr *ngFor="let date of allInstallmentDateList">
                        <td>{{date | date}}</td>
                        <td><i class="fa fa-euro"></i>&nbsp;{{amountForEachInstallment}}</td>
                        <td><i class="fa fa-euro"></i>&nbsp;{{interrestOfEachInstallment}}</td>
                      </tr>
                      <tr *ngIf="allInstallmentDateList.length <= 0">
                        <td colspan="3" class="text-muted">Nothing Found.!!</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
