.banner {
  background-image: url("/assets/images/banner-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  position: relative;
  width: 100%;
  min-height: 50vh;
  margin-bottom: 50px;
  padding-top: 50px;
}

.installment-list {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 350px;
}

.alert-sm {
  padding: 0.25rem;
}

.fa-xs {
  font-size: 0.75em;
}

.form-control:focus {
  box-shadow: none;
}

.message-for-user {
  font-size: 1.2em;
  line-height: 1.7em;
}

@media(min-width: 992px) {
  .interest-column {
    padding: 0;
  }
}
